.main {
    border-width: 1px;
    border-style: solid;
}

header.main {
    border-color: pink;
    display: flex;
    justify-content: center;
}

footer.main {
    border-color: forestgreen;
}

section.main {
    border-color: blue;
    min-height: 500px;
}

/* Menu */
.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin-right: 10px;
}

/* Header*/

div.header-user-loggedin {
    display: none;
}

/* Footer */
.copyrights {
    text-align: center;
}

/* Errors*/
.error_message {
    color: red;
    font-weight: 400;
}
